html, body {
  margin: 10px;
  padding: 0;
  background-color: #8D62E9; 
  display: flex;
  align-items: center;
  justify-content: center; 
}

canvas {
  width: 800px;
  height: 800px; 
  border: 2px solid #000000; 
  /*float: left;*/
}

#score, #high-score {
  font-size: 2vw; 
  position: absolute;
  right: 0;
  top: 0;
  margin: 1vh; 
}

#high-score {
  top: 40px; 
}

#controls {
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

#controls button {
  display: block;
  margin: 10px;
  background-color: #fff;
  border: 2px solid black;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  height: 50px;
  width: 100px;
  border-radius: 5px;
}

#controls button.toggle-on {
  background-color: rgb(216,63,95);
}

#controls button:not(.toggle-on) {
  background-color: rgb(71,251,31);
}

#toggle-grid-button {
  background-color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
