html, body {
  margin: 10px;
  padding: 0;
  background-color: #8D62E9; /* change background color to light peach */
  display: flex;
  align-items: center;
  justify-content: center; /* center the canvas horizontally and vertically */
}

canvas {
  width: 800px;
  height: 800px; /* set width and height to 80% of the viewport width */
  border: 2px solid #000000; /* add a dark border around the canvas */
  /*float: left;*/
}

#score, #high-score {
  font-size: 2vw; /* set font size to 2% of the viewport width */
  position: absolute;
  right: 0;
  top: 0;
  margin: 1vh; /* set margin to 1% of the viewport height */
}

#high-score {
  top: 40px; /* move the high score down below the score */
}

#controls {
  display: flex;
  position: absolute;
  bottom: 0;
  align-items: center;
  justify-content: center;
}

#controls button {
  display: block;
  margin: 10px;
  background-color: #fff;
  border: 2px solid black;
  color: #000;
  cursor: pointer;
  font-size: 16px;
  padding: 8px 16px;
  height: 50px;
  width: 100px;
  border-radius: 5px;
}

#controls button.toggle-on {
  background-color: rgb(216,63,95);
}

#controls button:not(.toggle-on) {
  background-color: rgb(71,251,31);
}

#toggle-grid-button {
  /* style the toggle grid button */
  background-color: #fff;
  /*border: 2px solid black;*/
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}
